p {
    margin-top: 2rem;
    align-items: center;
    text-align: center;
}

:host /deep/ .light {
	color: #000000 !important;
}

/deep/ body {
	font-family: "Rubik", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

:host /deep/ .page-item{
    &:first-child{
        .page-link{
            border-top-left-radius: 0.3em;
            border-bottom-left-radius: 0.3em;
        }
    }
    &:last-child{
        .page-link{
            border-top-right-radius: 0.3em;
            border-bottom-right-radius: 0.3em;
        }
    }
}
:host /deep/ .pagination-lg, .pagination-sm {
    .page-item:first-child .page-link{
        border-top-left-radius: 0.3em;
        border-bottom-left-radius: 0.3em;
    }
}

:host /deep/ .pagination-lg, .pagination-sm {
    background-color: #FFFFFF;
    .page-item:last-child .page-link{
        border-top-right-radius: 0.3em;
        border-bottom-right-radius: 0.3em;
    }
}

/deep/ .btn-primary {
	background-color: #009DA0;
    border-color: #009DA0;
}

/deep/ .btn-primary:hover, .btn-primary:focus{
	background-color: #006b6d;
    border-color: #005e60;
}

:host /deep/ .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle{
	background-color: #006b6d;
    border-color: #005e60;
}

:host /deep/ .page-item.active .page-link{
    background-color: #009DA0;
    border-color: #009DA0;
}


:host /deep/ .page-link{
    margin-right: 0;
    margin-left: -1px;
	color: #009DA0;
    border-radius: 0;
    border-width: 1px;
}

:host /deep/ .ng-dropdown-panel {
   position: relative;
}

:host /deep/ .form-control:focus {
	border-color: #009DA0 !important;
}

/deep/ .ft-search{
	color: #75787d !important;
}