@import "../../../../assets/sass/core/variables/gradient-variables";


/deep/ .bg-amber{
	background-color: #ffc107 !important;
}
/deep/ .bg-success{
	background-color: #0CC27E !important;
}
/deep/ .bg-blue{
	background-color: #2196f3 !important;
}
/deep/ .bg-deep-purple.bg-lighten-1{
	background-color: #7e57c2 !important;
}


// Donut Chart  CSS Starts
:host /deep/ .donut .ct-done .ct-slice-donut {
	stroke: #0CC27E;
	stroke-width: 24px !important;
}

:host /deep/ .donut .ct-progress .ct-slice-donut {
	stroke: #FFC107;
	stroke-width: 16px !important;
}

:host /deep/ .donut .ct-outstanding .ct-slice-donut {
	stroke: #7E57C2;
	stroke-width: 8px !important;
}

:host /deep/ .donut .ct-started .ct-slice-donut {
	stroke: #2196F3;
	stroke-width: 32px !important;
}

:host /deep/ .donut {
	fill: transparent;
	padding-top: 10px;
}

:host /deep/ .donut .ct-label {
	text-anchor: middle;
	alignment-baseline: middle;
	font-size: 20px;
	fill: #868e96;
}
// Donut Chart  CSS Ends


// Bar Chart CSS Starts
:host /deep/ .BarChart .ct-series-a .ct-bar:nth-of-type(4n+1) {
	stroke: url(#gradient7);
	stroke-width:10;
}
:host /deep/ .BarChart .ct-series-a .ct-bar:nth-of-type(4n+2) {
	stroke: url(#gradient5);
	stroke-width:10;
	position:relative;
}

:host /deep/ .BarChartShadow {
	-webkit-filter: drop-shadow( 0px 20px 8px rgba(0,0,0,0.3) );
	filter: drop-shadow( 0px 20px 8px rgba(0,0,0,0.3) ); /* Same syntax as box-shadow, except for the spread property */
}

/deep/ .BarChart{
	height: 263px !important;
 justify-content:center; 
 align-items:center; 
}

/deep/ .BarChart x-chartist{
	height: 250px !important;
    margin-right: -15px;
    margin-left: -15px;
}

/deep/ foreignObject{
	text-align: center;
	padding-right: 15px;
	padding-left: 15px;
}

/deep/ .ct-labels{
	text-align: center;
    width:100%;
}


/deep/ line{
	text-align: center;
    margin-right: -15px;
    margin-left: -15px;
}
// Bar Chart CSS Ends