p {
    margin-top: 2rem;
    align-items: center;
    text-align: center;
}

/deep/ .btn-primary {
	background-color: #009DA0;
    border-color: #009DA0;
}

/deep/ .btn-primary:hover{
	background-color: #006b6d;
    border-color: #005e60;
}

/deep/ .btn-primary:focus{
	background-color: #006b6d;
    border-color: #005e60;
}

:host /deep/ .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle{
	background-color: #006b6d;
    border-color: #005e60;
}

:host /deep/ .page-item.active .page-link{
    background-color: #009DA0;
    border-color: #009DA0;
}

:host /deep/ .page-link{
    margin-right: 0;
    margin-left: -1px;
	color: #009DA0;
    border-radius: 0;
    border-width: 1px;
}

/deep/ .btn-forms {
	float: right !important;
}